# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.gz

# Docker
docker-compose.override.yml
**/Dockerfile

# Prisma
prisma/.env

# IDE/Editor
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Frontend build
frontend/.next
frontend/out

# Backend build
backend/dist
backend/uploads

notes.txt